:root {
    --background-color-1: #d1d5db;
    --background-color-2: #3b82f6;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 99vw;
    height: 100vh;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 175px 1fr;

}

.sidebar {
    display: grid;
    grid-row: 1 / 3;
    grid-template-rows: 125px repeat(auto-fill, minmax(45px, 1fr));
    row-gap: 5px;
    background-color: var(--background-color-2);
    color: white;
}

.header {
    display: grid;
    grid-column: 2 / 4;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr;
}

.aside {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    padding: 20px;
    background-color: var(--background-color-1);
    position: relative;
    z-index: -1;
}

.aside div {
    background-color: white;
}

/* .aside div h2 {
    background-color: var(--background-color-1);
} */

.mainContent {
    display: grid;
    grid-template-rows: 50px 1fr;
    background-color: var(--background-color-1);
    position: relative;
    z-index: -1;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.navbar,
.userPanel {
    grid-column: 1 / 3;
}

/* Place Holder Icon for images and buttons */

img {
    content: url('./assets/magnify.svg');
    max-width: 25px;
}

/* button {
    background-image: url(./assets/magnify.svg);
    width: 25px;
    height: 25px;
} */

/* ^^^Place Holder Icon for images and buttons */


.sidebar div {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.navbar {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-flow: column;
}

.search {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: start;
}

.search img {
    justify-self: end;
    margin-top: 20px;
    margin-right: 20px;
}

.search input {
    margin-top: 20px;
}

.detailBar {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.detailBar>* {
    margin-top: 20px;
}

.userPanel {
    box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.4);
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 2.5fr;
    align-items: center;
}

.userPanel img {
    grid-column: 1;
    justify-self: center;
}

.userPanel .username {
    grid-column: 2;
}

.userPanel .utilBar {
    grid-column: 4;
}

.aside>div {
    box-shadow: 6px 8px 6px -6px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.aside div h2 {
    margin-bottom: 10px;
}

.announceCards,
.trendingCards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    margin: 25px;
    /* border: 2px solid black; */
    border-radius: 5%;
    padding-top: 10px;
    padding-left: 10px;
    box-shadow: inset 10px 0px 0px -3px rgb(255, 196, 0),
        6px 8px 6px -6px rgba(0, 0, 0, 0.4);
    background-color: white;
}

.sidebar-link p a {
    text-decoration: none;
    color: white;
}

.utilBar button {
    background: #3498db;
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.utilBar button:hover {
        background: #3cb0fd;
        background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
        text-decoration: none;

}